<% content_for :dashboard do %>
	<div class="span-22">
		<h2>Dashboard</h2>
	</div>
	<div class="span-22">
		<%= render_widget :recent_checkins %>
	</div>
	<div class="span-11">
		<%= render_widget :warranty %>
		<%= render_widget :missing_manifests %>
		<% if can? :create, Computer %>
			<%= render_widget :add_computer %>
		<% end %>
	</div>
	<div class="span-11">
		<%= render_widget :available_package_updates %>
		<% if can? :create, Package %>
			<%= render_widget :add_package %>
		<% end %>
	</div>
<% end %>
