<% content_for :head do %>
	body {
		background-image:url("/assets/login_bg.jpg");
		background-color:#222;
	}
	.notice {
		background-color:#fff;
	}
	.warning {
		background-color:#fff;
	}
<% end %>

<div id="login_form">
	<%= form_tag "/create_session" do %>
		<%= text_field_tag "username" %>
		<%= subtle_value_tag("username", "Username") %><br />
		<%= hidden_field_tag "redirect", params[:redirect] %>
		<%= password_field_tag "pass" %><br />
		<%= submit_tag "Login (#{Rails.env})" %>
	<% end %>
</div>