<%= f.error_messages %>

<p><%= f.text_field :name %></p>
<p><%= f.text_area :description, :size => "30x6" %></p>
<p>Environment <%= f.collection_select :environment_id, Environment.all, :id, :name, {}, {:class => "environment"} %></p>
<div id="tabled_asm_select">
	<%= tabled_asm_select(@computer_group)%>
</div>
<div id="tabled_asm_select_members">
	<%= tabled_asm_select(@computer_group.computers_tas)%>
</div>
<p><%= f.submit submit_value %></p>
