<h2>Editing <%= @computer_group %></h2>

<%= form_for(@computer_group, :validate => true, :url => computer_group_path(@computer_group.unit, @computer_group)) do |f| %>
	<%= f.error_messages %>
	
	<p><%= f.text_field :name %></p>
	<p><%= f.text_area :description, :size => "30x6" %></p>
	<p>Environment <%= f.collection_select :environment_id, Environment.all, :id, :name %></p>
	<%= tabled_asm_select(@computer_group) %>
	<%= tabled_asm_select(@computer_group.computers_tas) %>
	<p><%= f.submit 'Update' %></p>
<% end %>

<%= link_to 'Show', computer_group_path(@computer_group.unit, @computer_group) %>