<h2><%= @computer_group.name %></h2>
<p><em><%= @computer_group.environment %></em></p>

<p>
	<% if @computer_group.description.blank? %>
		<em>No description</em>
	<% else %>
		<%= @computer_group.description %>
	<% end %>
</p>

		<%= inventory(@computer_group,true) %>

		<%= computer_table(@computer_group.computers,false,false) %>

<%= link_to 'Edit', edit_computer_group_path(@computer_group.unit, @computer_group) %> |
<%= link_to 'List', computer_groups_path(@computer_group.unit) %>