<%= form_for(@user_group, :validate => true, :url => user_group_path(@user_group.unit, @user_group)) do |f| %>
    <%= f.error_messages %>
    <p><%= f.text_field :name %></p>
    <p><%= f.text_area :description, :size => "30x3" %></p>
    <div class="span-6">
        <h4>Principals</h4>
        <div id="all-principals" class="principal-container well">
            <ul>
                <% (User.all + UserGroup.where_unit(current_unit)).sort {|a,b| a.name.downcase <=> b.name.downcase}.each do |principal| %>
                    <li class="<%= principal.css_class %> " data-principal-id="<%= principal.principal_id %>">
                        <%= principal %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="span-6">
        <h4>Members</h4>
        <div id="member-principals" class="principal-container well">
            <ul>
                <% f.fields_for :principal_memberships do |membership_fields| %>
                    <%= render :partial => 'membership_list_item', :locals => {:membership_fields => membership_fields} %>
                <% end %>
            </ul>
        </div>
        <div id="empty-membership"></div>
        <script>
            $(document).ready(function() {
                <% f.fields_for :principal_memberships, @user_group.principal_memberships.build({:principal => User.first}) do |membership_fields| %>
                    $("#empty-membership").hide().append("<%= escape_javascript(render(:partial => 'membership_list_item', :locals => {:membership_fields => membership_fields})) %>");
                <% end %>
            });
        </script>
    </div>
    <div class="clear"></div>
    <p><%= f.submit 'Update' %></p>
<% end %>