<div id="computer_listing">
	<div id="environment_links">
		|
		<% Environment.all.each do |env| %>
			<% if current_environment.id == env.id %>
				<%= env.to_s + " (#{Computer.where(:environment_id => env.id, :unit_id => current_unit.id).count})" %>
			<% else %>
				<%= link_to env.to_s + " (#{Computer.where(:environment_id => env.id, :unit_id => current_unit.id).count})", computers_path(:eid => env.id) %>
			<% end %>
			|
		<% end %>
	</div>
	<% # computer_group_header(@computer_group_id) %>
	<div class="span-16 last" style="text-align:right;">
	<%= form_tag computers_url, :id => "filter_form", :method => 'get' do %>
		<%= hidden_field_tag "eid", params['eid'] %>
		<%= text_field_tag "name", params['name'] %>
		<%= submit_tag "Filter" %>
	<% end %>
	</div>
	<%= form_tag multiple_edit_computers_path, :id => "bulk_edit_form" , :remote => true do %>
		<%= computer_table(@computers) %>
	<% end %>
</div>