<div id="bulk_edit_computers">
	<h2>Bulk Edit Computers</h2>
	<%= form_for(@computers, :url => update_multiple_computers_path(current_unit),:html => {:method => :put, :id => "multiple_update_computers_form"})  do |f| %>
		<%= f.error_messages %>
		<% for c in @computers %>

			<%= hidden_field_tag "selected_records[]", c.id %>
	
		<% end %>
		<p><em>Editing <%= @computers.count %> computers</em></p>
		<table>
		<tr>
			<td>

			</td>
			<td>
			<%= f.label :unit_id %>
			</td>
			<td>
			<%= f.collection_select :unit_id, current_user.units, :id, :name, {}, {:class => "computer_unit_mult_edit"} %>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
			<%= f.label :environment_id %>
			</td>
			<td>
			<%= f.collection_select :environment_id, Environment.all, :id, :name, {}, {:class => "computer_environment_mult_edit"} %>
			</td>
		</tr>
		<tr id="computer_group_multi_edit">
			<%= render :partial => "computer_group_edit_multiple", :locals => {:environment_id => c.environment.id, :unit_id => current_unit.id } %>
		</tr>
		<tr>
			<td>
				<!-- Intend to be empty -->
			</td>
			<td>
				<!-- Intend to be empty -->
			</td>
			<td>
				<%= f.submit "Update" %>
				<a href="#" class="cancel">Cancel</a>
			</td>
		</tr>
		</table>
	<% end %>
</div>

<script>
// change the computer group dropdown list depending on the selected environment
function switchEnvironemnt(environment_id, unit_id){
	switch (unit_id){
		<%  current_user.units.each do |unit| %>
		case <%= unit.id %>:
		switch (environment_id){
		<% Environment.all.each do |env| %>
			case <%= env.id %>:
			$("#computer_group_multi_edit").html("<%= escape_javascript(render :partial => "computer_group_edit_multiple", :locals => {:environment_id => env.id, :unit_id => unit.id}) %>");
			break;
		<% end %>
		}
		break;
	<% end %>
	}

}
$("select.computer_unit_mult_edit, select.computer_environment_mult_edit").live('change', function(){
	unit_id = parseInt($(this).parents().find("select.computer_unit_mult_edit").val());
	environment_id =  parseInt($(this).parents().find("select.computer_environment_mult_edit").val());
	$computerGroup = $(this).parents().find("#computer_group_multi_edit");
	$computerGroup.animate({
		backgroundColor: "#FBEC5D",
		opacity: .9
	}, 'fast');
	switchEnvironemnt(environment_id, unit_id);
	$computerGroup.animate({
		backgroundColor: "#eef2f7",
		opacity: .9
	}, 'fast');
})
</script>