<%= form_for(@computer, :html => {:name => "edit_computer"}) do |f| %>
	<%= f.error_messages %>

	<table class="form">
		<tr>
			<td>Name / Hostname</td>
			<td><%= f.text_field :name, :size => 18 %></td>
		</tr>
		<tr>
			<td>MAC Address (<%= field_lock_control("computer_mac_address") %>)</td>
			<td><%= f.text_field :mac_address, :disabled => true, :size => 18 %></td>
		</tr>
		<tr>
			<td>Computer Group</td>
			<td><%= f.collection_select :computer_group_id, ComputerGroup.unit_member(@computer), :id, :name %></td>
		</tr>
		<tr>
			<td>
				Model <%= f.collection_select :computer_model_id, ComputerModel.order('name ASC'), :id, :name %>
			</td>
			<td>Environment <%= f.collection_select :environment_id, Environment.all, :id, :name %></td>
		</tr>
		<tr>
			<td colspan="2"><%= f.text_area :description, :size => "40x3" %></td>
		</tr>
	</table>
	<%= tabled_asm_select(@computer) %>
	
	<p><%= f.submit submit_button_string %></p>
<% end %>