<h3>Warranty</h3>
<% if @computer.warranty.present? %>
    <h4>Summary</h4>
    <div id="warranty_summary">
        <div class="status <%= @computer.warranty.registered_status %>">
            <% if @computer.warranty.registered %>
                Registered
            <% else %>
                Not Registered
            <% end %>
        </div>
    
        <% unless @computer.warranty.app_registered %>
        <div class="status <%= @computer.warranty.app_eligibility_status %>">
            <% if @computer.warranty.app_eligible %>
                Eligible for AppleCare Protection Plan (until <%= @computer.warranty.hw_coverage_end_date.present? ? @computer.warranty.hw_coverage_end_date.to_s(:readable_date) : "unknown" %>)
            <% else %>
                Not Eligible
            <% end %>
        </div>
        <% end %>
    
        <div class="status <%= @computer.warranty.hw_coverage_status %>">
            <% unless @computer.warranty.hw_coverage_expired %>
                Repairs and service: Covered (until <%= @computer.warranty.hw_coverage_end_date.present? ? @computer.warranty.hw_coverage_end_date.to_s(:readable_date) : "unknown" %>)
            <% else %>
                Repairs and service: Expired
            <% end %>
        </div>

        <div class="status <%= @computer.warranty.phone_coverage_status %>">
            <% if @computer.warranty.phone_coverage_expired %>
                Technical phone support: Covered (until <%= @computer.warranty.phone_coverage_end_date.present? ? @computer.warranty.phone_coverage_end_date.to_s(:readable_date) : "unknown" %>)
            <% else %>
                Technical phone support: Expired
            <% end %>
        </div>
    </div>

    <h4>Other Information</h4>
	<table class="form">
		<tr>
			<td><strong>Serial Number</strong></td>
			<td><%= @computer.warranty.serial_number %></td>
		</tr>
		<tr>
			<td><strong>Product Type</strong></td>
			<td><%= @computer.warranty.product_type %></td>
		</tr>
		<tr>
			<td><strong>Product Description</strong></td>
			<td><%= @computer.warranty.product_description %></td>
		</tr>
		<tr>
			<td><strong>Last updated</strong></td>
			<td><%= @computer.warranty.updated_at.to_s(:readable_date) %></td>
		</tr>
		<tr>
			<td><strong>Specifications</strong></td>
			<td><%= link_to @computer.warranty.specs_url, @computer.warranty.specs_url %></td>
		</tr>
		<tr>
			<td><strong>Repair and Service Support</strong></td>
			<td><%= link_to @computer.warranty.hw_support_url, @computer.warranty.hw_support_url %></td>
		</tr>
		<tr>
			<td><strong>Technical Phone Support</strong></td>
			<td><%= link_to @computer.warranty.phone_support_url, @computer.warranty.phone_support_url %></td>
		</tr>
		<tr>
			<td><strong>Forum Support</strong></td>
			<td><%= link_to @computer.warranty.forum_url, @computer.warranty.forum_url %></td>
		</tr>
	</table>

	<p><em><%= link_to "Refresh warranty", computer_update_warranty_path(@computer.unit, @computer) %></em></p>

<% else %>
	<p><em>No warranty available</em></p>
	<p><em><%= link_to "Find warranty", computer_update_warranty_path(@computer.unit, @computer) %></em></p>
<% end -%>
