<h3>Warranty</h3>
<% if warranty.present? %>
    <h4>Summary</h4>
    <div id="warranty_summary">
        <%= render :partial => 'warranty_status', :locals => {:warranty => warranty} %>
    </div>

    <h4>More Information</h4>
	<table class="form">
		<tr>
			<td><strong>Serial Number</strong></td>
			<td><%= warranty.serial_number %></td>
		</tr>
		<tr>
			<td><strong>Product Type</strong></td>
			<td><%= warranty.product_type %></td>
		</tr>
		<tr>
			<td><strong>Last updated</strong></td>
			<td><%= warranty.updated_at.to_s(:readable_date) %></td>
		</tr>
		<tr>
			<td><strong>Specifications</strong></td>
			<td><%= link_to warranty.specs_url, warranty.specs_url %></td>
		</tr>
		<tr>
			<td><strong>Repair and Service Support</strong></td>
			<td><%= link_to warranty.hw_support_url, warranty.hw_support_url %></td>
		</tr>
		<tr>
			<td><strong>Technical Phone Support</strong></td>
			<td><%= link_to warranty.phone_support_url, warranty.phone_support_url %></td>
		</tr>
	</table>

	<p><em><%= link_to "Refresh warranty information", computer_update_warranty_path(@computer.unit, @computer) %></em></p>

<% else %>
	<p><em>No warranty available</em></p>
	<p><em><%= link_to "Refresh warranty information", computer_update_warranty_path(@computer.unit, @computer) %></em></p>
<% end %>
