<div id="bulk_edit_computers">
	<h2>Bulk Edit Computers</h2>
	<%= form_for(@computers, :url => multiple_update_computers_path(current_unit),:html => {:method => :put, :id => "multiple_update_computers_form"})  do |f| %>
		<%= f.error_messages %>
		<% for c in @computers %>

			<%= hidden_field_tag "selected_records[]", c.id %>
	
		<% end %>
		<p><em>Editing <%= @computers.count %> computers</em></p>
		<table>
		<tr>
			<td>
				<%= check_box_tag("accept", nil, nil, :class => "accept") %>
			</td>
			<td>
			<%= f.label :environment_id %>
			</td>
			<td>
			<%= f.collection_select :environment_id, Environment.all, :id, :name, :onchange => "alert('test');" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= check_box_tag("accept", nil, nil, :class => "accept") %>
			</td>
			<td>
			<%= f.label :computer_group_id %>
			</td>
			<td>
			<%= f.collection_select :computer_group_id, ComputerGroup.unit_member(c), :id, :name %>
			</td>
		</tr>
		
		<tr>
			<td>
				<!-- Intend to be empty -->
			</td>
			<td>
				<!-- Intend to be empty -->
			</td>
			<td>
				<%= f.submit "Update" %>
				<a href="#" class="cancel">Cancel</a>
			</td>
		</tr>
		</table>
	<% end %>
</div>