<% content_for :sidebar do %>
	<h4>Requirements</h4>
	<div class="box">
		Hostname and MAC address are required.  <br />
		Ensure MAC address is formatted properly (e.g. aa:00:bb:22:cc:33). <br />
	</div>
<% end -%>
<h2>New computer</h2>

<% form_for(@computer) do |f| %>
	<%= f.error_messages %>
	<table class="form">
		<tr>
			<td>Name / Hostname</td>
			<td><%= f.text_field :name, :size => 18 %></td>
		</tr>
		<tr>
			<td>MAC Address</td>
			<td><%= f.text_field :mac_address, :size => 18 %></td>
		</tr>
		<tr>
			<td>Computer Group</td>
			<td><%= f.collection_select :computer_group_id, ComputerGroup.unit(current_unit), :id, :name %></td>
		</tr>
		<tr>
			<td>Model <%= f.collection_select :computer_model_id, ComputerModel.order('name ASC'), :id, :name %></td>
			<td>Environment <%= f.collection_select :environment_id, Environment.all, :id, :name %></td>
		</tr>
		<tr>
			<td colspan="3"><%= f.text_area :description, :size => "40x3" %></td>
		</tr>
	</table>
	<%= hidden_field_tag "[computer][unit_id]", current_unit_id %>
	<p><%= f.submit 'Create' %></p>
<% end %>