<%= computer_header(@computer) %>
<p>
	<% if @computer.description.blank? %>
		<em>No description</em>
	<% else %>
		<%= @computer.description %>
	<% end -%>
</p>
<h4>Computer (<%= link_to "edit", edit_computer_url(@computer) %>)</h4>
<%= inventory(@computer,true) %>

<% unless @computer.computer_group.nil? %>
	<h4>Computer Group (<%= link_to "edit", edit_computer_group_url(@computer.computer_group) %>)</h4>
	<%= inventory(@computer.computer_group) %>
<% else %>
	<h4>Computer Group</h4>
	<p><em>This computer is not a member of any computer group.</em></p>
<% end -%>

<h4>Logs</h4>
<p>Last successful munki run: <strong><%= @computer.time_since_last_run %></strong></p>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('.log-details').hide();
		jQuery('.log-link').click(function() {
			jQuery(this).siblings('.log-details').slideToggle();
			return false;
		});
	});	
</script>
<ul>
	<% @computer.client_logs.reverse.each do |client_log| %>
		<li>
			<%= client_log.created_at.to_s %> - 
			<%= client_log.run_type %>
			[<%= content_tag :a, "details", {:class => "log-link", :href => "#"} %>]
			<div class="log-details">
				<pre><%= client_log.details %></pre>
			</div>
		</li>
	<% end -%>
</ul>