
<%= computer_header(@computer) %>
<p>
	<% if @computer.description.blank? %>
		<em>No description</em>
	<% else %>
		<%= @computer.description %>
	<% end -%>
</p>
<div id="tabs">
	<ul>
		<li><a href="#packages_tab"><span>Packages</span></a></li>
		<li><a href="#system_profile_tab"><span>System Profile</span></a></li>
		<li><a href="#managed_install_reports_tab"><span>Managed Install Reports (<%= @computer.managed_install_reports.count %>)</span></a></li>
	</ul>
	
	<!-- First tab starts here -->
	<div id="packages_tab">
		<h4>Computer (<%= link_to "edit", edit_computer_url(@computer.unit, @computer) %>)</h4>
		<%= inventory(@computer,@computer) %>

		<% unless @computer.computer_group.nil? %>
			<h4>Computer Group (<%= link_to "edit", edit_computer_group_url(@computer.computer_group.unit, @computer.computer_group) %>)</h4>
			<%= inventory(@computer.computer_group,@computer) %>
		<% else %>
			<h4>Computer Group</h4>
			<p><em>This computer is not a member of any computer group.</em></p>
		<% end -%>
	</div>
	
	<!-- Second tab starts here -->
	<div id="system_profile_tab">
		<%= render :partial => "system_profile" %>
	</div>
	
	<!-- Third tab starts here -->
	<div id="managed_install_reports_tab">
		<h3>Managed Install Reports</h3>
		<div>
			View Report
			<select id="managed_install_reports" name="managed_install_reports">
				<% @computer.managed_install_reports.reverse.each do |report| %>
					<option value="<%= report.id %>"><%= report.option_text %></option>
				<% end -%>
			</select>
			<img class="loading" src="/images/ajax-loader.gif" />
			<%= helpful_info "* denotes a report with issues"%>
		</div>
		<div id="managed_install_report">
			<em>No managed install report available</em>
		</div>
	</div>
</div>