<%= computer_header(@computer) %>

<p>
	<% if @computer.description.blank? %>
		<em>No description</em>
	<% else %>
		<%= @computer.description %>
	<% end -%>
</p>

<h4>Computer (<%= link_to "edit", edit_computer_url(@computer) %>)</h4>
<%= inventory(@computer,true) %>

<% unless @computer.computer_group.nil? %>
	<h4>Computer Group (<%= link_to "edit", edit_computer_group_url(@computer.computer_group) %>)</h4>
	<%= inventory(@computer.computer_group) %>
<% else %>
	<h4>Computer Group</h4>
	<p><em>This computer is not a member of any computer group.</em></p>
<% end -%>