<%= computer_header(@computer) %>
<p>
	<% if @computer.description.blank? %>
		<em>No description</em>
	<% else %>
		<%= @computer.description %>
	<% end -%>
</p>
<h4>Computer (<%= link_to "edit", edit_computer_url(@computer) %>)</h4>
<%= inventory(@computer,@computer) %>
 
<% unless @computer.computer_group.nil? %>
	<h4>Computer Group (<%= link_to "edit", edit_computer_group_url(@computer.computer_group) %>)</h4>
	<%= inventory(@computer.computer_group,@computer) %>
<% else %>
	<h4>Computer Group</h4>
	<p><em>This computer is not a member of any computer group.</em></p>
<% end -%>

<h3>System Profile</h3>
<% if @computer.system_profile.present? %>
	<%= render :partial => 'system_profile', :locals => {:profile => @computer.system_profile} %>
<% else %>
	<p><em>No system profile available</em></p>
<% end -%>	  


<h3>Managed Install Reports</h3>
<div>
	View Report
	<select id="managed_install_reports" name="managed_install_reports">
		<% @computer.managed_install_reports.reverse.each do |report| %>
			<option value="<%= report.id %>">
				<% if report.created_at > 1.day.ago %>
					<%= time_ago_in_words(report.created_at) + " ago" %>
				<% else %>
					<%= report.created_at.getlocal.to_s(:readable_detail) %>
				<% end %>
			</option>
		<% end -%>
	</select>
	<img class="loading" src="/images/ajax-loader.gif" />
</div>
<div id="managed_install_report">
	<em>No managed install report available</em>
</div>