<%= form_for(@user, :validate => true) do |f| %>
	<%= f.error_messages %>
	<table class="form">
		<tr>
			<td>Username</td>
			<td><%= f.text_field :username %></td>
			<td><%= helpful_info("Username must be between 3-40 characters in length.") %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= f.text_field :email %></td>
			<td><%= helpful_info("Requires a valid email address.") %></td>
		</tr>
		<tr class="password-wrapper">
			<td>Password</td>
			<td><%= f.password_field :password, :validate => false %></td>
		</tr>
		<tr class="password-wrapper">
			<td>Verify</td>
			<td><%= f.password_field :password_confirmation, :validate => false %></td>
		</tr>
		<tr>
			<td>Email Notifications</td>
			<td><%= f.check_box :email_notifications %></td>
		</tr>
	</table>
	<p>
	<%= f.submit 'Save' %>
	</p>
<% end %>