<h2>New user</h2>

<% form_for(@user) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.text_field :username %>
		<%= subtle_value(@user,:username) %>
	</p>
	<p>
		<%= f.text_field :email %>
		<%= subtle_value(@user, :email) %>
	</p>
	<p>
		<%= f.password_field :password %> Password
	</p>
	<p>
		<%= f.password_field :password_confirmation %> Verify
	</p>
	
	<p>
	<%= f.submit 'Create' %>
	</p>
<% end %>