<h2>User</h2>

<h3>Info</h3> 

<table class="form">
	<tr>
		<td>Username: <%= @user.username %></td>
	</tr>
	<tr>
		<td>Email: <%= @user.email %></td>
	</tr>
	<tr>
		<td>Receive Email Notification :<%= @user.settings.receive_email_notifications? ? "Yes" : "No" %></td>
	</tr>
</table>


<h3>Units</h3>

<% if @user.units.empty? %>
<table class="form">
	<tr>
		<td>This user has no access to any units.</td>
	</tr>
<% end %>
<ul>
	<% @user.units.each do |unit| %>
	<tr>
		<td><li><%= unit %></li></td>
	<% end %>
	</tr>
</ul>
</table>

<% if can? :update, @user %>
	<%= link_to "Edit", edit_user_path(@user) %>
<% end %>