<h2>User</h2>

<h3>Info</h3>
<p>
	Username: <%= @user.username %><br />
	Email: <%= @user.email %><br />
	Super user: <%= @user.super_user? ? "Yes" : "No" %>
</p>

<h3>Units</h3>
<% if @user.units.empty? %>
	<p>This user has no access to any units</p>
<% end -%>
<ul>
	<% @user.units.each do |unit| %>
		<li><%= unit %></li>
	<% end -%>
</ul>

<%= link_to "Edit user", edit_user_path(@user) %>