<table class="packagePicker">
	<thead>
		<tr>
			<th>Bundles</th>
			<th>Installs</th>
			<th>Uninstalls</th>
		</tr>
	</thead>
	<tr>
		<td><%= bundle_list(model_obj.bundles,target) %></td>
		<td id="installs_view_content">
			<%= pkg_list(model_obj.install_items, target) %>
			<% if model_obj.class == Computer && can?(:update, model_obj) %>
				<p><%= link_to "specify version", edit_multiple_install_items_path(model_obj.unit, model_obj.id, :format => "js"), :remote => "true" %></p>
			<% end %>
		</td>
		<td><%= pkg_list(model_obj.uninstall_items) %></td>
	</tr>
	
	
	<thead>
		<tr>
			<th>Optional Install</th>
		</tr>
	</thead>
	<tr>
		<td><%= pkg_list(model_obj.optional_install_items) %></td>
	</tr>
</table>
<p class="quiet"><span>✓</span> denotes item is installed</p>