<table class="<%= table_class %>">
	<% p = parameters %>
	<%= "Parameters: " + p.count.to_s + " Class: " + parameters.class.to_s %>
	
	<% count = p.size %>
	<% p.reverse! %><br /><br />
	<% c = 0 %>
	<% while c < count do %>
		
		<%= p.pop %><br /><br />
		
			<%= c%3 %>
			<% if c%3 == 0  %>
			<hr />
			<% end %>
		<% c += 1 %>
	<% end %>		
	<% p.each_with_index do |section, i| %>
	<br />
	
	<% if header_enabled %> 
		 	<% if i%3 == 0 %>
			  	 	<thead>
				 	  <tr>
						<%  p.pop do |section| %> 
					     <th><%= section[:title] %> <%= i.to_s %>
					     <%= helpful_info(section[:helpful_string]) unless section[:helpful_string].blank? %>
						</th>
		   	 			<% end %>
					  </tr>
				   </thead>
			<% end %>
	
	<% end %>
	<tr>

			<td>
  				<%= hidden_field_tag("#{section[:model_name]}[#{section[:attribute_name]}][]",'') %>
  				<%= select_tag("#{section[:model_name]}[#{section[:attribute_name]}]", options_for_select(section[:options],section[:selected_options]), :multiple => true, :title => section[:select_title]) %>
   				<%= autocomplete_asmselect(section[:title],section[:options].collect { |el| el[0] },"type a name...") %>
  			</td>
	
	</tr>
<% end %>
</table>