<div class="widget append-bottom append-top">
	<div class="widget_title">
		<h4><%= @widget.missing_manifests.title %>(<%= @widget.missing_manifests.missing_manifests(interval, limit).count %>)</h4>
		<span class="icon-trangle icon-up"><%= image_tag("arrow-up.gif") %></span>
		<span class="icon-trangle icon-down icon-hidden"><%= image_tag("arrow-down.gif") %></span>
	</div>
	<div class="widget_body">
	<div class="alert-message">
		<p>Test warning alert message</p>
	</div>
	    
	        <th>Identifier</th>
	        <th>Manifest Type</th>
	        <th>Request IP</th>
	        <th>Hostname</th>
	        <th>Request Time</th>
	    
		<% @widget.missing_manifests.missing_manifests(interval, limit).each do |missing_manifest| %>
		<tr>
            <td><%= missing_manifest.identifier %></td>
            <td><%= missing_manifest.manifest_type %></td>
            <td><%= missing_manifest.request_ip %></td>
            <td><%= missing_manifest.hostname %></td>
            <td><%= missing_manifest.request_time %></td>
        </tr>
		<% end %>
	</div>
</div>