<div class="widget append-bottom append-top">
	<div class="widget_title">
		<h4><%= @widget.recent_checkins.title %></h4>
	</div>
	<div class="widget_body">
		<div id="highcharts_graph" style="width: 100%; height: 400px"></div>
		<script>
		var chart1;
		$(document).ready(function() {
		      chart1 = new Highcharts.Chart({
		         chart: {
		            renderTo: 'highcharts_graph',
		            type: 'area'
		         },
		         title: {
		            text: 'Computer Checked-in'
		         },
				credits:{
					enabled: false
				},
		         xAxis: {
					type: 'datetime'
		         },
		         yAxis: {
		            title: {
		               text: 'Computers'
		            }
		         },
				plotOptions: {
				         area: {
				            fillColor: {
				               linearGradient: [0, 0, 0, 300],
				               stops: [
				                  [0, 'rgb(69, 114, 167)'], //6 = light blue, 9 or above are black
				                  [1, 'rgba(2,0,0,0)']
				               ]
				            },
				            lineWidth: 2,
				            marker: {
				               enabled: false,
				               states: {
				                  hover: {
				                     enabled: true,
				                     radius: 5
				                  }
				               }
				            },
				            shadow: false,
				            states: {
				               hover: {
				                  lineWidth: 2
				               }
				            }
				         }
				      },
		         series: [{
		            name: 'Computer checked-in',
					pointInterval: 24 * 3600 * 1000,
					pointStart: Date.UTC(<%= interval.days.ago.year %>, <%= interval.days.ago.month %>-1 , <%= interval.days.ago.day %>),
		            data: <%= @widget.recent_checkins.recent_computer_checkins(interval-1) %>
		         }]
		      });
		   });
		</script>
	</div>
</div>