<h2>Edit unit settings</h2>
<h3><%= @unit_setting.unit %></h3>

<%= form_for(@unit_setting.unit) do |f| %>
	<%= f.error_messages %>
	<h3>Notifications</h3>
	<p>
		<%= hash_checkboxes(@unit_setting.regular_events,:title => "Regular Events", :name => "unit_setting[regular_events]") %>
	</p>
	<p>
		<%= hash_checkboxes(@unit_setting.warning_events,:title => "Warning Events", :name => "unit_setting[warning_events]") %>
	</p>
	<p>
		<%= hash_checkboxes(@unit_setting.error_events,:title => "Error Events", :name => "unit_setting[error_events]") %>
	</p>
	<p><%= f.submit 'Update' %></p>
<% end %>