<% report = @computer.managed_install_reports.last %>
<h2><%= @computer %> (<%= @computer.name %>) - <%= @computer.status %></h2>
<% ManagedInstallReport::LOG_ATTRIBUTES.each do |attribute_name| %>
	<%= render :partial => 'managed_install_reports/report_log', :locals => {:attribute_name => attribute_name,:report => report} if report.send(attribute_name).present? %>
<% end %>

<br />
<%= link_to "Click Here to view full report", "#{computer_url(@computer.unit,@computer)}\?tab=managed_install_reports_tab&report_id=#{report.id}", :target => "_blank" %>