<% macupdate_url = "http://www.macupdate.com/app/mac/" %>
<% download_url = @package.package_branch.version_tracker.download_url %>
<% macupdate_url = macupdate_url + @package.package_branch.version_tracker.web_id.to_s %>

<h3><%= link_to "#{@package.name} #{@package.version}", package_url(@package)%> in <em><%= @package.unit.name %></em> has a newer version  <em><%= @package.package_branch.version_tracker.version %></em> available for update</h3>

<p>Click <%= link_to "here to add", new_package_url %> the package</p>

<p>Click <%= link_to "here to download", download_url %> the package</p>

<p>For more details on this package please check <%= link_to macupdate_url, macupdate_url %></p>