<h3><%= @computer %> - hardware warranty will expire on <%= @computer.warranty_expiry_date %></h3>
<% if @computer.warranty.app_eligible %>
	<p><em>This computer is eligible for AppleCare Protection Plan until <%= @computer.warranty.readable_hw_coverage_end_date %>.</em></p>
<% elsif @computer.warranty.app_registered %>
	<p><em>This computer is registered for AppleCare Protection Plan.</em></p>
<% else %>
	<p><em>This computer is no longer eligible for AppleCare Protection Plan.</em></p>
<% end %>
<table class="form">
	<tr>
		<td><strong>Hostname</strong></td>
		<td><%= @computer.hostname %></td>
	</tr>
	<tr>
		<td><strong>Serial Number</strong></td>
		<td><%= @computer.warranty.serial_number %></td>
	</tr>
	<tr>
		<td><strong>Mac Address</strong></td>
		<td><%= @computer.mac_address %></td>
	</tr>
	<tr>
		<td><strong>Product Description</strong></td>
		<td><%= @computer.warranty.product_description %></td>
	</tr>
	<tr>
		<td><strong>Purchase Date</strong></td>
		<td><%= @computer.warranty.purchase_date.to_s(:readable_date) if @computer.warranty.purchase_date.present? %></td>
	</tr>
	<tr>
		<td><strong>Last updated</strong></td>
		<td><%= @computer.warranty.readable_updated_at %></td>
	</tr>
</table>
<br />
<%= link_to "Click here to view full warranty status", "#{computer_path(@computer.unit,@computer)}\?tab=warranty_tab", :target => "_blank" %>
