<h3><%= @computer %> (<%= @computer.mac_address%>) - will expire on <%= @computer.warranty.hw_coverage_end_date.to_date %></h3>
<table class="form">
	<tr>
		<td><strong>Serial Number</strong></td>
		<td><%= @computer.warranty.serial_number %></td>
	</tr>
	<tr>
		<td><strong>Product Description</strong></td>
		<td><%= @computer.warranty.product_description %></td>
	</tr>
	<tr>
		<td><strong>Purchase Date</strong></td>
		<td><%= @computer.warranty.purchase_date.to_s(:readable_date) %></td>
	</tr>
	<tr>
		<td><strong>Last updated</strong></td>
		<td><%= @computer.warranty.updated_at.to_s(:readable_date) %></td>
	</tr>
	<tr>
		<td><strong>Specifications</strong></td>
		<td><%= link_to @computer.warranty.specs_url, @computer.warranty.specs_url %></td>
	</tr>
	<tr>
		<td><strong>Repair and Service Support</strong></td>
		<td><%= link_to @computer.warranty.hw_support_url, @computer.warranty.hw_support_url %></td>
	</tr>
	<tr>
		<td><strong>Technical Phone Support</strong></td>
		<td><%= link_to @computer.warranty.phone_support_url, @computer.warranty.phone_support_url %></td>
	</tr>
</table>
<br />
<%= link_to "Click Here to view full warranty status", "#{computer_url(@computer.unit,@computer)}\?tab=warranty_tab", :target => "_blank" %>