<h2>Permissions</h2>
<div class="permission-ui">
	<div class="units-wrapper span-7 append-1">
		<h3>Units</h3>
		<div class="list-filter-wrapper">
	        <input class="list-filter" type="search" placeholder="Filter..."/>
			<%= image_tag "ajax-loader.gif", :class=> "loading" %>
	    </div>
		<div class="unit-container well">
			<ul class="row-list filterable">
				<% if can? :read, Permission.new(:unit_id => nil) %>
					<li class="row" data-unit-id="">
						<em>System</em>
					</li>
				<% end %>
				<% @units.each do |unit| %>
					<li class="row" data-unit-id="<%= unit.id %>">
						<%= unit %>
					</li>
				<% end %>
				<li class="no-results"><em>No units</em></li>
			</ul>
		</div>
	</div>
	

	<div class="principals-wrapper span-7">
		<h3>Principals</h3>
	    <div class="list-filter-wrapper">
	        <input class="list-filter" type="search" placeholder="Filter..."/>
			<%= image_tag "ajax-loader.gif", :class=> "loading" %>
	    </div>
	    <div id="all-principals" class="principal-container well">
	        <ul class="row-list filterable">
	            <% @principals.each do |principal| %>
	                <%= principal_list_item(principal, :disabled => true) %>
	            <% end %>
				<li class="no-results"><em>No principals</em></li>
	        </ul>
	    </div>
	</div>
	
	<div class="permissions-wrapper">
		<h3>Permissions</h3>
		<div><em>Choose a unit and principal</em></div>
	</div>
</div>