<h2>Edit user settings</h2>
<h3><%= @user_setting.user %></h3>

<%= form_for(:edit_user_setting) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :receive_email_notifications %>
		<%= f.check_box :receive_email_notifications %>
	</p>
	<p><%= f.submit 'Update' %></p>
<% end %>