<td>
	<% if package.shared_installer_item_location(current_unit).present? %>
	<%= check_box_tag("selected_records[]", package.id, false, {:disabled => true})%>
	<% else %>
	<%= check_box_tag("selected_records[]", package.id, false, :class => "package_branch_#{package.package_branch_id} bulk_edit_checkbox") %>
	<% end %>
</td>
<td>
	<%= link_to "#{package.version}", package_path(package.to_params), :title => "Show" %>
</td>
<td>
	<% package.update_for.each do |uf| %>
		<%= "#{uf.name} (#{uf.version})" %><br />
	<% end %>
</td>
<td>
	<% package.requires.each do |r| %>
		<%= "#{r.name} (#{r.version})" %><br />
	<% end %>
</td>
<td>
	<% if package.shared_installer_item_location(current_unit).present? %>
		
		<%= link_to "#{package.name} #{package.version}", package_path(package.to_params)%>
	<% else %>
		<% if package.has_dependencies? %>
			<%= link_to "Import", import_shared_package_path(current_unit,package), {"data-confirm-message" => "Warning: This item has dependencies which will NOT be imported!"} %>
		<% else %>
			<%= link_to "Import", import_shared_package_path(current_unit,package) %>
		<% end %>
	<% end %>
</td>