<h2>Editing bundle</h2>

<% form_for(@bundle) do |f| %>
	<%= f.error_messages %>
	<table class="form">
		<tr>
			<td>Name</td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td>Environment</td>
			<td><%= f.collection_select :environment_id, Environment.all, :id, :name %></td>
		</tr>
		<tr>
			<td colspan="2"><%= f.text_area :description, :size => "40x3" %></td>
		</tr>
	</table>
	<%= tabled_asm_select(@bundle)%>
	<p>
	<%= f.submit 'Update' %>
	</p>
<% end %>

<%= link_to 'Show', @bundle %>