<h2>Listing bundles</h2>
<p><%= record_count(@bundles) %></p>
<% if @bundles.length > 0 %>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>

<% @bundles.each do |bundle| %>
  <tr>
	<td><input type="checkbox" /></td>
    <td><%= link_to bundle, bundle %></td>
	<td><%= bundle.description %></td>
    <td>
		<%= link_to 'Edit', edit_bundle_path(bundle) %> 
		<%= link_to 'Remove', bundle, :confirm => "Are you sure you want to remove #{bundle}?", :method => :delete %>
		<%= link_to 'Manfest', manifest_path('bundles',bundle.id,bundle.name) %>
	</td>
  </tr>
<% end %>
</table>
<% end %>