<h2>Listing bundles</h2>
<% if @bundles.length > 0 %>
	<p><%= record_count(@bundles) %></p>
	<table class="zebra">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Description</th>
				<th>Environment</th>
				<th>Actions</th>
			</tr>
		</thead>
		<% @bundles.each do |b| %>
		  <tr>
			<td><input type="checkbox" /></td>
		    <td><%= link_to b, bundle_path(b.unit, b) %></td>
			<td><%= b.description %></td>
			<td><%= b.environment %></td>
		    <td>
				<% if can? :update, b %>
					<%= link_to 'Edit', edit_bundle_path(b.unit, b) %> |
				<% end %>
				<% if can? :destroy, b %>
					<%= link_to 'Destroy', bundle_path(current_unit, b), :confirm => "Are you sure you want to destroy #{b}?", :method => :delete %> |
				<% end %>
				<%= link_to 'Manifest', bundle_path(b.unit, b, :format => :manifest) %>
			</td>
		  </tr>
		<% end %>
	</table>
<% else %>
	<h5>There are no <%= params[:controller].humanize.downcase %> here!</h5>
	<% if can? :create, Bundle.new_for_can(current_unit) %>
		<p>Why don't you add <%= link_to "one", new_bundle_path(current_unit) %>?</p>
	<% end %>
<% end %>
<% if can? :create, Bundle.new_for_can(current_unit) %>
	<%= link_to "New bundle", new_bundle_path(current_unit) %>
<% end %>