<% content_for :sidebar do %>
	<h4>Unit Roles</h4>
	<div class="box">
		<p><b>Admin</b> - able to manage users and units.</p>
		<p><b>Super User</b> - able to add and manage packages</p>
		<b>User</b> - able to manage computers, computer groups and bundles.
	</div>
<% end %>


<%= f.label :users %>

<table>
	<thead>
		<td>Username \ Role</td>
		<% @roles.each do |role| %>
			<td><%= role.name %></td>
		<% end %>
		<td>None</td>
	</thead>
	
	<% @users.each do |user| %>
		<tr>
			<td><%= user.username %></td>
			<% @roles.each do |role| %>
				<td><%= f.radio_button "role_sym_of_#{user.username}", role.to_sym %></td>
			<% end %>
				<td><%= f.radio_button "role_sym_of_#{user.username}", :none %></td>
		</tr>
	<% end %>
</table>