<h2>Editing unit</h2>

<%= form_for(@unit, :validate => true) do |f| %>
  <%= f.error_messages %>
	<p><%= f.text_field :name %></p>
	<p><%= f.text_area :description, :size => "30x3" %></p>
	<div id="members">
		<%#= tabled_asm_select(@unit) %>
		<%= render :partial => "user_select", :locals => {f: f}%>
	</div>
	<p><%= f.submit 'Update' %></p>
<% end %>
<%= link_to 'Show', @unit %> | <%= link_to "Edit unit settings", settings_edit_unit_path(@unit) %>