<h2>Editing unit</h2>

<%= form_for(@unit, :validate => true) do |f| %>
  <%= f.error_messages %>
	<p><%= f.text_field :name %></p>
	<p><%= f.text_area :description, :size => "30x3" %></p>
	<div id="members">
		<%= tabled_asm_select(@unit) %>
	</div>
	
	<%= f.fields_for @unit.settings do |s| %>
		<%= s.error_messages %>
		<h3>Notifications</h3>
		<p>
			<%= hash_checkboxes(@unit.settings.regular_events,:title => "Regular Events", :name => "unit_setting[regular_events]") %>
		</p>
		<p>
			<%= hash_checkboxes(@unit.settings.warning_events,:title => "Warning Events", :name => "unit_setting[warning_events]") %>
		</p>
		<p>
			<%= hash_checkboxes(@unit.settings.error_events,:title => "Error Events", :name => "unit_setting[error_events]") %>
		</p>
	<% end %>
	<p><%= f.submit 'Update' %></p>
<% end %>
<%= link_to 'Show', @unit %> | <%= link_to "Edit unit settings", settings_edit_unit_path(@unit) %>