<h2>Listing units</h2>

<table class="zebra">
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Actions</th>
	<thead>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
	<td><%= unit.description %></td>
    <td>
		<% if can? :update, unit %>
			<%= link_to 'Edit', edit_unit_path(unit) %> 
		<% end %>
		<% if can? :destroy, unit %>
			<%= link_to 'Remove', unit, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<% if can? :create, Unit %>
	<p><%= link_to 'New unit', new_unit_path %></p>
<% end %>